{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block title %}Duka Market | {% endblock title %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/img/favicon.png" %}">
    <!-- CSS here -->

    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/backtotop.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ratings.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>
   <body>
        <!-- preloader start -->
        {% comment %} {% include "store/components/preloader.html" %} {% endcomment %}
        <!-- preloader end -->

        <!-- header-start -->
        <header class="header d-blue-bg">
            <div class="header-top">
                <div class="container custom-conatiner">
                    <div class="header-inner">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7">
                                <div class="header-inner-start">
                                    <div class="header__currency border-right">
                                        <div class="s-name">
                                            <span>Language: </span>
                                        </div>
                                        <select>
                                            <option>English</option>
                                            <option>Deutsch</option>
                                            <option>Français</option>
                                            <option>Espanol</option>
                                        </select>
                                    </div>
                                    <div class="header__lang border-right">
                                        <div class="s-name">
                                            <span>Currency: </span>
                                        </div>
                                        <select>
                                            <option> USD</option>
                                            <option>EUR</option>
                                            <option>INR</option>
                                            <option>BDT</option>
                                            <option>BGD</option>
                                        </select>
                                    </div>
                                    <div class="support d-none d-sm-block">
                                        <p>Need Help? <a href="tel:+001123456789">+001 123 456 789</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                                <div class="header-inner-end text-md-end">
                                    <div class="ovic-menu-wrapper ovic-menu-wrapper-2">
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="faq.html">FAQs</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid">
                <div class="container custom-conatiner">
                    <div class="heade-mid-inner">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                                <div class="header__info">
                                    <div class="logo">
                                        <a href="{% url "home" %}" class="logo-image"><img src="{% static "assets/img/logo/logo1.svg" %}" alt="logo"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                                <div class="header__search">
                                    <form method="POST" action="">
                                        <div class="header__search-box">
                                            <input 
                                            id="search-input"
                                            class="search-input search-input-2" 
                                            type="text" 
                                            name="q"
                                            value=""
                                            autocomplete="off">

                                            <button class="button button-2" type="submit">
                                                <i class="far fa-search"></i>
                                            </button>
                                            <!-- Suggestions dropdown for live search -->
                                            <div id="autocomplete-display" class="list-group position-absolute w-100" style="z-index: 1000; top: 100%;"></div>
                                        </div>

                                        <div class="header__search-cat">
                                            <select name="category" id="form-select">
                                                <option value="">All Categories</option>
                                                    <option value="id">
                                                        Category 1
                                                    </option>
                                                    <option disabled>No categories Found</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                                <div class="header-action">
                                    <div class="dropdown d-inline-flex align-items-center">
                                        <a class="block-userlink d-inline-flex align-items-center dropdown-toggle text-white text-decoration-none"
                                        href="#"
                                        id="authDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">

                                            <i class="flaticon-user me-2 text-white" style="font-size: 20px;"></i>

                                            {% if request.user.is_authenticated %}
                                                {{ request.user.username|title }}
                                            {% endif %}
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="authDropdown">
                                            {% if request.user.is_authenticated %}
                                                <li><a class="dropdown-item {% if request.resolver_match.url_name == "account" %}active{% endif %}" href="{% url 'account' %}">Account</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                                                <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>

                                    <div class="block-wishlist action">
                                        <a class="icon-link icon-link-2" href="">
                                        <i class="flaticon-heart"></i>
                                        <span class="count count-2" id="wish-count"></span>
                                        <span class="text">
                                        <span class="sub" >Favorite</span>
                                        My Wishlist </span>
                                        </a>
                                    </div>
                                    <div class="block-cart action">
                                        <a class="icon-link icon-link-2" href="">
                                        <i class="flaticon-shopping-bag"></i>
                                        <span class="count count-2" id="cart-count"></span>
                                        <span class="text">
                                            <span class="sub" id="total-price">Your Cart:</br> 0 TK</span>
                                        </span>
                                        </a>
                                        <div class="cart">
                                            <div class="cart__mini">
                                                <ul>
                                                    <li>
                                                    <div class="cart__title">
                                                        <h4>Your Cart</h4>
                                                        <span>(0 Item in Cart)</span>
                                                    </div>
                                                    </li>              
                                                    <li>                                   
                                                        <div class="cart__item d-flex justify-content-between align-items-center">
                                                            <div class="cart__inner d-flex">
                                                                <div class="cart__thumb">
                                                                    <a href="#">
                                                                        <img style="width:70px;height:80px;"
                                                                            src="/media/defaults/default.jpg"
                                                                            alt="Product Image">
                                                                    </a>
                                                                </div>
                                                                <div class="cart__details">
                                                                    <h6><a href="#">
                                                                        Product Title</a></h6>
                                                                    <p class="mini-cart-qty"> Quality: (1)</p>
                                                                    <div class="cart__price">
                                                                    <span>1000 TK</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                    <div class="cart__sub d-flex justify-content-between align-items-center">
                                                        <h6>Subtotal</h6>
                                                        <span class="cart__sub-total">1000 TK</span>
                                                    </div>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="cart-btn">View cart</a>
                                                        <a href="#" class="cart-btn">Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="container custom-conatiner">
                    <div class="row g-0 align-items-center">

                        <div class="col-lg-3">
                            <div class="cat__menu-wrapper side-border d-none d-lg-block">
                                <div class="cat-toggle">
                                    <button type="button" class="cat-toggle-btn cat-toggle-btn-1">
                                        <i class="fal fa-bars"></i> Shop by department
                                    </button>

                                    <div class="cat__menu-2 cat__menu">
                                        <nav id="mobile-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">Electronics</a>

                                                    <ul class="mega-menu">
                                                        <li>
                                                            <a href="#">Smartphones</a>
                                                            <ul class="mega-item">
                                                                <li>
                                                                    <a href="#">iPhone</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <!-- If no category -->
                                                <li>
                                                    <a>No Categories Found</a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="shopeing-text text-sm-end">
                                <p>Spend 120 more and get free shipping! TK</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->

        {% block slider %}
        
        {% endblock slider %}

        {% block off_canvas %}
        
        {% endblock off_canvas %}

        {% block main_content %}

        {% endblock main_content %}

        <!-- footer-start -->
        <footer>
            <div class="fotter-area d-blue-bg">
                <div class="footer__top pt-60 pb-10">
                    <div class="container custom-conatiner">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-8">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-20">
                                        <h4>Download App</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <p class="footer-text mb-25">DukaMarket App is now available on App Store & Google Play. Get it now.</p>
                                        <div class="apps-store mb-20">
                                            <a href="#"><img src="{% static 'assets/img/brand/app_ios.png' %}" alt=""></a>
                                            <a href="#"><img src="{% static 'assets/img/brand/app_android.png' %}" alt=""></a>
                                        </div>
                                        <div class="social-icon social-icon-2">
                                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                            <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                            <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                                            <a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="footer__widget footer-col-2">
                                    <div class="footer__widget-title">
                                        <h4>My Account</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link footer__link-2">
                                            <ul>
                                                <li><a href="contact.html">Product Support</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="faq.html">Terms &amp; Conditions &amp;</a></li>
                                                <li><a href="faq.html">Redeem Voucher</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="footer__widget footer-col-2">
                                    <div class="footer__widget-title">
                                        <h4>Customer Care</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link footer__link-2">
                                            <ul>
                                                <li><a href="faq.html">New Customers</a></li>
                                                <li><a href="faq.html">How to use Account</a></li>
                                                <li><a href="faq.html">Placing an Order</a></li>
                                                <li><a href="faq.html">Payment Methods</a></li>
                                                <li><a href="faq.html">Delivery &amp; Dispatch</a></li>
                                                <li><a href="faq.html">Problems with Order</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                                <div class="footer__widget footer-col-2">
                                    <div class="footer__widget-title">
                                        <h4>Customer Service</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link footer__link-2">
                                            <ul>
                                                <li><a href="faq.html">Help Center</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="faq.html">Report Abuse</a></li>
                                                <li><a href="faq.html">Submit a Dispute</a></li>
                                                <li><a href="faq.html">Policies &amp; Rules</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-20">
                                        <h4>Sign Up To Newsletter</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <p class="footer-text mb-25">Join 60.000+ subscribers and get a new discount coupon on every Saturday.</p>
                                        <div class="footer__newsletter-form">
                                            <form action="#">
                                                <input class="ft-newsl b-radius" type="email" placeholder="Enter your email ...">
                                                <button class="ft-newsl-btn" type="submit">subscribe</button>
                                            </form>
                                        </div>
                                        <p class="provide-text mt-20">By providing your email address, you agree to our <br> 
                                            <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__bottom-2">
                    <div class="container custom-conatiner">
                        <div class="footer__bottom-content footer__bottom-content-2 pt-50 pb-50">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="footer__links footer__links-d text-center mb-25">
                                        <p>
                                            <a href="about.html">About Us</a>
                                            <a href="contact.html">Delivery & Return</a>
                                            <a href="faq.html">Privacy Policy</a>
                                            <a href="faq.html">Help</a>
                                            <a href="contact.html">Order Tracking</a>
                                            <a href="contact.html">Contact Us</a>
                                            <a href="faq.html">FAQs </a>
                                        </p>
                                    </div>
                                    <div class="payment-image text-center mb-25">
                                        <a href="#"><img src="{% static 'assets/img/payment/payment.png' %}" alt=""></a>
                                    </div>
                                    <div class="copy-right-area copy-right-area-2 text-center">
                                        <p>Copyright © <span>DukaMarket.</span> All Rights Reserved. Powered by 
                                            <a href="#"><span class="main-color">Theme_Pure.</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->

        <!-- JS here -->
        <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
        <script src="{% static 'assets/js/vendor/waypoints.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-bundle.js' %}"></script>
        <script src="{% static 'assets/js/meanmenu.js' %}"></script>
        <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
        <script src="{% static 'assets/js/tweenmax.js' %}"></script>
        <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
        <script src="{% static 'assets/js/magnific-popup.js' %}"></script>
        <script src="{% static 'assets/js/parallax.js' %}"></script>
        {% comment %} <script src="{% static 'assets/js/backtotop.js' %}"></script> {% endcomment %}
        <script src="{% static 'assets/js/nice-select.js' %}"></script>
        <script src="{% static 'assets/js/countdown.min.js' %}"></script>
        <script src="{% static 'assets/js/counterup.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/isotope-pkgd.js' %}"></script>
        <script src="{% static 'assets/js/imagesloaded-pkgd.js' %}"></script>
        <script src="{% static 'assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <!-- JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
        {% include "alert.html" %}
    </body>
</html>